.card {
  width: 540px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.card__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__list-item {
  display: flex;
  justify-content: space-between;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  margin-top: 16px;
}

.card__list-divider {
  width: 100%;
  border-bottom: solid black;
}
