.recipes {
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0;
  margin-top: 24px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
  column-gap: 40px;
  flex-wrap: wrap;
}

.recipes__iframe {
  display: flex;
}
.recipes__video-caption {
  width: 480px;
  display: flex;
  font-style: normal;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}
