.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  color: #000;
  /* font-family: "Noto Serif", "Times New Roman", serif; */
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  right: 50px;
}

.nav__links {
  display: flex;
  align-items: flex-start;
  margin: 0 0 8px;
  list-style: none;
  padding: 0;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-style: normal;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  margin-top: 183px;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  display: block;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  margin-top: 28px;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
  z-index: 1;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  font-style: normal;
  font-weight: 500;
  color: #838383;
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 1;
}

.header__list {
  list-style: none;
  padding: 0;
}

.header__paragraph {
  display: flex;
  align-items: flex-end;
}

.recipes {
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0a2750;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.recipes__subtitle {
  max-width: 438px;
  margin: 0;
  margin-top: 24px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
  column-gap: 40px;
  flex-wrap: wrap;
}

.recipes__iframe {
  display: flex;
}
.recipes__video-caption {
  width: 480px;
  display: flex;
  font-style: normal;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
}

.recipes__video-caption_left {
  width: auto;
}

.recipes__video-caption_right {
  width: auto;
}
